.panel {
	width: 1366px;
	margin: 0;
}

.img_panel {
	height: 584px;
	width: 683px;
}

.text_panel {
	height: 584px;
	width: 683px;
	margin: 0;
	padding: 120px;
	background-color: #0E1721;
	color: #fff
}

.panel_box {
	width: auto;
}