.panel {
	width: 1366px;
	margin: 0;
}

.img_panel {
	height: 584px;
	width: 683px;
}

.text_panel {
	height: 355px;
	width: 530px;
	margin: 0;
	padding: 70px;
}

.panel_box {
	height: 584px;
	width: 683px;
	max-width: 683px;
	min-width: 390px;
}