h1 {
	font-family: 'Playfair Display', serif;
	font-size: 72px;
	color: #fff;
	margin-bottom: 0px;
}

.banner_descr {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #fff;
	margin-top: 0px;
}

p {
	font-family: 'Lato', sans-serif;
}