body{
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 ,h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	margin-bottom: 0px;
}

h1{ font-size: 75px; }
h2{ font-size: 65px; }
h3{ font-size: 55px; }
h4{ font-size: 45px; }
h5{ font-size: 35px; }
h6{ font-size: 25px; }


p, a, ul, ol, li{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 5px;
}

.privacy {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.banner_descr {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #fff;
	margin-top: 0px;
}

.contact {
	color: #0e1721;
	text-align: center;
	margin-bottom: 100px;
}

.contact__logo {
	display: block;
	margin: auto;
	width: 103px;
	height: 103px;
	margin-top: 230px;
	margin-bottom: 100px;
}

.footer__type {
	color: #cbcbcb;
	font-size: 12px;
	font-weight: 400;
}

.footer__ita {
	color: #cbcbcb;
	font-size: 10px;
	font-style: italic;
}

.panel__head {
	margin-bottom: 25px;
	color: #fff;
}

.panel__text {
	color: #fff;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 300;
	margin-bottom: 30px;
}

.img__panel-two a {
	text-decoration: none;
	color: #DCC19F;
	font-size: 20px;
	font-style: italic;
}

.img__panel-four a {
	text-decoration: none;
	color: #DCC19F;
	font-size: 20px;
	font-style: italic;
}

.img__panel-three a {
	text-decoration: none;
	color: #DCC19F;
	font-size: 20px;
	font-style: italic;
}

.img__panel-two a:hover{
	color: #CBCBCB;
}

.img__panel-four a:hover {
	color: #CBCBCB;
}

.img__panel-three a:hover {
	color: #CBCBCB;
}

.text__align-center {
	text-align: center;
}

.text__pad {
	vertical-align: center;
	padding: 200px;
}